<h2>Create New Book</h2>

<form action="/books" method="POST">

<h3>>New Book</h3>
<label>Title:</label>
    <input type="text" name="title" id="title">
<label>Author:</label>
    <input type="text" name="author" id="author">
<label>Book of the Month:</label>
    <input type="text" name="book_month" id="book_month">
<label>Genre:</label>
    <input type="text" name="genre" id="genre">
<br></br>

    <input type="submit" id="submit" value="Create New Book">
</form>
<a class="button" href="/books">Books</a>